<link
  href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css"
  rel="stylesheet"
  id="bootstrap-css"
/>
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta http-equiv="X-UA-Compatible" content="ie=edge" />
  <title>Data Privacy Scanner</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
  <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
    />
    <script src="https://code.jquery.com/jquery-3.3.1.js"></script>
  <link href="{{ url_for('static', filename='css/styles.css') }}" rel="stylesheet" />
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <!-- Script runs before jquery, adding defer to let jquery run first  -->
  <script src="{{ url_for('static', filename='js/script.js') }}" defer></script>
</head>

<body>
<div class="wrapper">
  <header>
    <nav>
      <div class="menu-icon">
        <i class="fa fa-bars fa-2x"></i>
      </div>
      <div class="logo">Data Privacy Scanner</div>
      <div class="menu">
        <ul>
          <li><a href="#">Home</a></li>
          <li><a href="#">About</a></li>
          <li><a href="#">Blog</a></li>
        </ul>
      </div>
    </nav>
  </header>
</div>

<h1>Data Privacy Scanner</h1>
<div class="page-wrapper">
  <form action="{{ url_for('upload_file') }}" method="POST" enctype="multipart/form-data" class="form">
    <span class="form-title">Upload your file</span>
    <p class="form-paragraph"> Accepted formats: .txt, .pdf, .docx, .csv, .xlsx, .xls</p>

    <label for="file-input" class="drop-container">
      <span class="drop-title">Drop files here</span>
        or
      <input type="file" name="files" id="file-input">
    </label>
    <button type="submit">Upload</button>
    <h4>PII</h4>
    <div class="container" data-control="checkbox-dropdown">
      <ul class="ks-cboxtags">
        <li><input type="checkbox" name="pii_dropdown" id="dl" value="dl" checked><label for="dl">Driver's License</label></li>
        <li><input type="checkbox" name="pii_dropdown" id="sid" value="sid"><label for="sid">State ID</label></li>
        <li><input type="checkbox" name="pii_dropdown" id="a_num" value="a_num"><label for="a_num">Alien Registration Number</label></li>
        <li><input type="checkbox" name="pii_dropdown" id="passport" value="passport"><label for="passport">Passport</label></li>
        <li><input type="checkbox" name="pii_dropdown" id="mid" value="mid"><label for="mid">Military ID</label></li>
      </ul>
    </div>

    <br><br>
     <h4>PHI</h4>

    <div class="container" data-control="checkbox-dropdown">
      <ul class="ks-cboxtags">
        <li><input type="checkbox" name="phi_dropdown" id="hx" value="hx" checked><label for="hx">Medical History</label></li>
        <li><input type="checkbox" name="phi_dropdown" id="tx" value="tx" checked><label for="tx">Treatment</label></li>
        <li><input type="checkbox" name="phi_dropdown" id="dx" value="dx" checked><label for="dx">Diagnosis</label></li>
        <li><input type="checkbox" name="phi_dropdown" id="rx" value="rx" checked><label for="rx">Prescription/Medication</label></li>
        <li><input type="checkbox" name="phi_dropdown" id="lab" value="lab" checked><label for="lab">Lab Results</label></li>
        <li><input type="checkbox" name="phi_dropdown" id="phys" value="phys" checked><label for="phys">Reffering/Attending Physician</label></li>
        <li><input type="checkbox" name="phi_dropdown" id="mrn" value="mrn" checked><label for="mrn">Medical Record Number</label></li>
        <li><input type="checkbox" name="phi_dropdown" id="pid" value="pid" checked><label for="pid">Patient ID</label></li>
      </ul>
    </div>
  </form>
</div>
</body>
</html>