<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Data Privacy Scanner</title>
    <link href="{{ url_for('static', filename='css/styles.css') }}" rel="stylesheet" />
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <!-- Script runs before jquery, adding defer to let jquery run first  -->
    <script src="{{ url_for('static', filename='js/script.js') }}" defer></script>

</head>
<body>

<h1>Data Privacy Scanner</h1>
<form action="" method="POST" enctype="multipart/form-data">
  <label for="myFile">Select a file:</label>
  <input type="file" id="myFile" name="filename">
  <button type="submit">Upload</button>
</form>

<h4>PII</h4>
<div class="dropdown" data-control="checkbox-dropdown">
  <label class="dropdown-label">Select</label>

  <div class="dropdown-list">
    <a href="#" data-toggle="check-all" class="dropdown-option">
      Select All
    </a>

    <label class="dropdown-option">
      <input type="checkbox" name="dropdown-group" value="Opt 1" />
      Driver’s license
    </label>

    <label class="dropdown-option">
      <input type="checkbox" name="dropdown-group" value="Opt 2" />
      State ID
    </label>

    <label class="dropdown-option">
      <input type="checkbox" name="dropdown-group" value="Opt 3" />
      Alien registration number
    </label>

    <label class="dropdown-option">
      <input type="checkbox" name="dropdown-group" value="Opt 4" />
      Non-US ID
    </label>

    <label class="dropdown-option">
      <input type="checkbox" name="dropdown-group" value="Opt 5" />
      Passport
    </label>
  </div>
</div>

</body>
</html>